@using BExIS.Modules.Lui.UI.Models
@model ComponentDataModel

@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
}

<h3>LUI Compontents Calculation</h3>
@Html.ActionLink("Calculate ", "CalculateCompontents", "LUIComponentCalculation", new { @class = "bx-button small function" })
<br />
<br />
@if (Model.Data.Rows.Count > 0)
{
    <table id="compontentData">
        <thead>
            <tr>
                <th class="select-checkbox"><input id="checkBox" type="checkbox"></th>
                @for (int c = 0; c < Model.Data.Columns.Count; c++)
                {
                    <th>
                        @Model.Data.Columns[c].ColumnName
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Data.Rows.Count; i++)
            {
                <tr id="@Model.Data.Rows[i]["Id"].ToString()">
                    <td></td>
                    @for (int c = 0; c < Model.Data.Columns.Count; c++)
                    {
                        <td>
                            @Model.Data.Rows[i][c].ToString()
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
    <br />
    @Html.ActionLink("Download (csv)", "Download", "LUIComponentCalculation", new { @class = "bx-button function" })
    <button onclick="upload()" class="bx-button function">Upload selected rows</button><br />
    <p id="error" style="font-weight:bold;"></p>

}

<script type="text/javascript">
    var tbl;
    $(document).ready(function () {
        tbl = $('#compontentData').DataTable({
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc']]
        });
    });

    //select or deselect all
    $('#checkBox').on('click', function () {
        if ($('#checkBox').is(':checked')) {
            tbl.rows().select();
        }
        else {
            tbl.rows().deselect();
        }
    });


    function upload() {
        var selectedIds = [];
        $.each(tbl.rows('.selected').nodes(), function (i, item) {
            selectedIds.push(item.id);
            //var data = tbl.row(this).data();
        });


        console.log(selectedIds);
        $.post('@Url.Action("UploadSelectedRows", "LUIComponentCalculation", new RouteValueDictionary { { "area", "LUI" } })', { rowIds: selectedIds }, function (data) {
            document.getElementById("error").textContent += data;
        });
    }

</script>